* {
  font-family: 'IBM Plex Sans', sans-serif;
}

pre {
  margin: 0;
  padding: 2rem;
  background-color: #ececec;
  font-size: 15px;
  color: black;
}

.article-header code {
  font-size: 85%;
  font-weight: normal;
  line-height: 130%;
  padding: 8px;
  background-color: #ededed;
}

.measure a {
  text-decoration: none;
}

.measure a h2 {
  color: black;
}

.measure__example {
  margin-bottom: 40px;
}

.card__header {
  padding: 0 1rem 1rem 1rem;
  color: black;
}

.dimension__value {
  margin-top: 40px;
}

.dimension__value a {
  text-decoration: none;
}

.article-list .article-list__link code {
  font-size: 85%;
  font-weight: normal;
  line-height: 130%;
  padding: 6px;
  background-color: #ededed;
}

.article-list .article-list__link {
  text-decoration: none;
}

.mdc-card.measure code {
  font-size: 13px;
  padding: 3px;
  background-color: #ededed;
}

.header__link {
  text-decoration: none;
}
