{% extends '_base.html' %}

{% block hero %}
<div class="article-header">
  <div class="article-header__hgroup">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <h1 class="article-header__title">{{ name }}</h1>
          <p class="article-header__description">{{ attribute }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="attribute">
<h2>Beschreibung</h2>
<p>{{ description|replace('\n','<br>')|safe }}</p>

<h2>GraphQL-Beispiele</h2>

<p>Hier ein paar Beispiel-Abfragen zu <em>{{ name }}</em>. Nicht alle Daten
sind auf allen Gebiets-Ebenen und/oder für alle Jahre verfügbar.</p>

<p><em>Klicke auf die einzelnen Beispiele, um die GraphQL-Abfrage direkt im Browser zu öffnen</em></p>

<div class="mdc-card attribute__example">
  <div class="mdc-card__primary-action">
    <a href="https://api-next.datengui.de/graphql?query=%7B%0A%20%20allRegions%20%7B%0A%20%20%20%20page%0A%20%20%20%20total%0A%20%20%20%20itemsPerPage%0A%20%20%20%20regions%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20name%0A%20%20%20%20%20%20{{ attribute }}%20%7B%0A%20%20%20%20%20%20%20%20year%0A%20%20%20%20%20%20%20%20value%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A">
      <div class="card__header">
        <h3 class="mdc-typography--display2">Alle Daten</h3>
        <strong>Regionen</strong>: alle<br>
        <strong>Jahr</strong>: alle<br>
      </div>
      <pre><code>{
  allRegions {
    page
    total
    itemsPerPage
    regions {
      id
      name
      {{ attribute }} {
        year
        value
      }
    }
  }
}</code></pre>
    </a>
  </div>
</div>

<div class="mdc-card attribute__example">
  <div class="mdc-card__primary-action">
    <a href="https://api-next.datengui.de/graphql?query=%7B%0A%20%20allRegions%20%7B%0A%20%20%20%20page%0A%20%20%20%20total%0A%20%20%20%20itemsPerPage%0A%20%20%20%20regions%28nuts%3A%203%29%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20name%0A%20%20%20%20%20%20{{ attribute }}%28year%3A%202016%29%20%7B%0A%20%20%20%20%20%20%20%20year%0A%20%20%20%20%20%20%20%20value%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A">
      <div class="card__header">
        <h3 class="mdc-typography--display2">Daten auf Kreisebene für 2016</h3>
        <strong>Regionen</strong>: Kreise und kreisfreie Städte (<code>nuts: 3</code>)<br>
        <strong>Jahr</strong>: 2016 (<code>year: 2016</code>)<br>
      </div>
      <pre><code>{
  allRegions {
    page
    total
    itemsPerPage
    regions(nuts: 3) {
      id
      name
      {{ attribute }}(year: 2016) {
        year
        value
      }
    }
  }
}</code></pre>
    </a>
  </div>
</div>

<div class="mdc-card attribute__example">
  <div class="mdc-card__primary-action">
    <a href="https://api-next.datengui.de/graphql?query=%7B%0A%20%20allRegions%20%7B%0A%20%20%20%20page%0A%20%20%20%20total%0A%20%20%20%20itemsPerPage%0A%20%20%20%20regions%28lau%3A1%2C%20parent%3A%2205%22%29%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20name%0A%20%20%20%20%20%20{{ attribute }}%20%7B%0A%20%20%20%20%20%20%20%20year%0A%20%20%20%20%20%20%20%20value%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A">
      <div class="card__header">
        <h3 class="mdc-typography--display2">Daten für Gemeinden in NRW</h3>
        <strong>Regionen</strong>: Gemeinden (<code>lau: 1</code>)<br>
        <strong>Gebiets-Filter</strong>: NRW (<code>parent: "05"</code>)<br>
      </div>
      <pre><code>{
  allRegions {
    page
    total
    itemsPerPage
    regions(lau: 1, parent: "05") {
      id
      name
      {{ attribute }} {
        year
        value
      }
    }
  }
}</code></pre>
    </a>
  </div>
</div>

<div class="mdc-card attribute__example">
  <div class="mdc-card__primary-action">
    <a href="https://api-next.datengui.de/graphql?query=%7B%0A%20%20region%28id%3A%20%22DG%22%29%20%7B%0A%20%20%20%20id%0A%20%20%20%20name%0A%20%20%20%20{{ attribute }}%20%7B%0A%20%20%20%20%20%20year%0A%20%20%20%20%20%20value%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A">
      <div class="card__header">
        <h3 class="mdc-typography--display2">Gesamtsumme für Deutschland</h3>
        <strong>Region</strong>: Deutschland (<code>id: "DG"</code>)<br>
      </div>
      <pre><code>{
  region(id: "DG") {
    id
    name
    {{ attribute }} {
      year
      value
    }
  }
}</code></pre>
    </a>
  </div>
</div>

</div>
{% endblock %}

{% block aside %}
{% if args.items() %}
<h2>Argumente</h2>
<ul>
  {% for arg, info in args.items() %}
  <li class="article-list__item">
    <a class="article-list__link" href="/{{ attribute }}/{{ arg }}">
      <h3 class="article-list__title">{{ arg }}</h3>
      <p class="article-list__description">{{ info.name }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
<hr>
<a href="/attribute">Zurück zu allen Merkmalen</a>
{% endblock %}
