{% extends '_base.html' %}

{% block main %}

<h2>Schema-Dokumentation</h2>

<p>
  Amtliche Statistiken aus GENESIS-Instanzen einfach per GraphQL-API abfragen
</p>

<p>
  Suche in der Suchleiste oben nach einem Thema. Dann gelangst du auf
  Ergebnisse zu "Merkmalen", die zum eingegebenen Thema passen. Auf den
  Merkmals-Seiten findest du weitere Informationen und Beispiel-Abfragen, die
  du direkt in der
  <a href="https://api-next.datengui.de/graphql">GraphQL-API</a> ausprobieren
  kannst.
</p>

<h3>Mehr Infos</h3>

<p>
  <a href="https://github.com/datenguide/datenguide-api#using-the-api">
    Kurze, etwas technische Dokumentation der GraphQL-API auf github</a>
</p>

<p>
  <a href="https://datengui.de">Das datenguide-Projekt</a>
</p>

{% endblock %}
