{% extends "_base.html" %}

{% block hero %}
<div class="article-header">
  <div class="article-header__hgroup">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          {% if search %}
          <h1 class="article-header__title">Suche</h1>
          <p class="article-header__description">
            {{ measures|length }} Suchergebnisse für {{ request.args.q }}
            <br>
            <a href="/measure">Zeige alle Merkmale</a>
          </p>
          {% else %}
          <h1 class="article-header__title">Alle Merkmale</h1>
          <p class="article-header__description">
            Liste aller verfügbaren Merkmale in der GENESIS-Datenbank
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
{% for key, measure in measures %}
<div class="mdc-card measure">
  <div class="mdc-card__primary-action">
    <a href="/{{ measure.statistic.name }}/{{ key }}">
      <div style="padding: 0px 1rem 1rem;">
        <h2 class=" mdc-typography--display1">{{ measure.title_de }}</h1>
        <h3 class="mdc-theme--text-secondary-on-background mdc-typography--subheading1" style="margin-top: -1rem;">
          {{ key }}
        </h3>
        <div class="mdc-theme--text-primary-on-background mdc-typography--body1">
          <p><strong>Statistik:</strong> {{ measure.statistic.title_de }} <code>{{ measure.statistic.name }}</code></p>
          <p>{{ measure.definition_de|truncate(250) }}</p>
          <em>{% for level in measure.region_levels %}
            {{ level_labels[level] }}{% if not loop.last %}, {% endif %}
            {% endfor %}
          </em>
        </div>
      </div>
    </a>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block aside %}
<h2>Suche</h2>
<form action="/measures" method="get">
  <input type="text" name="q" class="react-autosuggest__input" placeholder="Suche nach einem Thema..." value="{{ request.args.q }}">
</form>

{% endblock %}
